{% extends 'base.html' %}
{% block content %}

<h1>New Post</h1>
    <form action="/newpost" method="POST">
        <div class="entry">
            <label>Title</label>
            <div class="error">{{ title_error }}</div>
            <input type="text" name="title" value="{{ title }}" />
        </div>

        <div class="entry">
        <label>Body</label>
        <div class="error">{{ entry_error }}</div>
            <textarea name="entry">{{entry}}</textarea>
        </div>

        <div class="entry">
        <input type="submit" value="Add entry" class="submit" />
        </div>
    </form>

{% endblock %}
